
.comfortaaLogo {
    border-color: antiquewhite;
}



#nav-container {
    background-clip: red;
}


.test {
    position: 100vw;
}

.comfortaaLogo {
    color: white;
}

.footer-container {
    background-color:red;
    padding: 5px;
    text-align: center;
} 

body {
    color:white;
    background:black;
    font-family: 'Orbitron', sans-serif;
    
}

.link-1 {
    padding: 13px;
}
.link-2 {
    padding: 13px;
}
.link-3 {
    padding: 13px;
}



