
.comfortaaLogo {
    border-color: antiquewhite;
}

#nav-container {
    background-clip: red;
}


.test {
    position: 100vw;
}

.comfortaaLogo {
    color: white;
}

.footer-container {
    background-color:red;
    padding: 5px;
    text-align: center;
} 

body {
    background:silver;
}




